{% extends 'index.html'%}

<div >
{% block conteudo %}
<div class="modal-body" style="position: absolute; left: 30%; top: 12%; width: 50%;">
    <form id="formCadastroUsuario" method="post" action="Add_usuario" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nome" class="form-label" style="font-size: 1.2em;">Nome</label>
                    <input type="text" class="form-control form-control-lg" id="nome" placeholder="Digite o nome de usuário" autocomplete="off" name="nome" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label" style="font-size: 1.2em;">Senha</label>
                    <input type="password" class="form-control form-control-lg" id="senha" placeholder="Digite a senha" autocomplete="off" name="senha" required>
                </div>
                <div class="mb-3">
                    <label for="confirmar-senha" class="form-label" style="font-size: 1.2em;">Confirmação de Senha</label>
                    <input type="password" class="form-control form-control-lg" onchange="confirmaSenha()" id="confirmar-senha" placeholder="Confirme sua senha">
                    <div class="invalid-feedback" style="display: none;">As senhas devem ser iguais.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="cargo" class="form-label" style="font-size: 1.2em;">Cargo</label>
                    <select class="form-select form-select-lg" id="cargo" name="cargo">
                        <option value="" hidden>Selecione uma opção</option>
                        {% for dados in cargos %}
                        <option value="{{dados[1]}}">{{dados[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="grupo" class="form-label" style="font-size: 1.2em;">Grupo</label>
                    <select class="form-select form-select-lg" id="grupo" name="grupo">
                        <option value="" hidden>Selecione uma opção</option>
                        {% for dados in grupos %}
                        <option value="{{dados[1]}}">{{dados[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="foto" class="form-label" style="font-size: 1.2em;">Foto de perfil</label>
                    <input class="form-control form-control-lg" type="file" name="imagem" accept=".png,.jpeg">
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary btn-lg" style="width: 50%;">Cadastrar</button>
        </div>
    </form>
</div>


        <script>
            trocaClasse('cadastro','active');
            User_dados_ler()
            checkTheme();
        </script>
    </div>

{% endblock %}
</div>