{% extends 'index.html'%}

  {% block conteudo %}
  <div style="position: absolute; left: 16.5%; top: 1%; width:82%;">
          <div class="card">
            <div class="card-header  text-white" style="background-color: #4402ae90;">
              Filtrar Produções
            </div>
            <div class="card-body">
              <form method="post" action="filtrar">
                <div class="row mb-3">
                  <div class="col-md-5">
                    <label for="dt-inicial" class="form-label ">Data Inicial</label>
                    <input type="datetime-local" class="form-control rounded-4" id="dt-inicial" name="dt_inicial" required>
                  </div>
                  <div class="col-md-5">
                    <label for="dt-final" class="form-label ">Data Final</label>
                    <input type="datetime-local" class="form-control rounded-4" id="dt-final" name="dt_final" required>
                  </div>
                  <div class="col-md-2" style="position: absolute;left: 86.5%; top: 55%;">
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
  </div>
  <div style="position: absolute; left: 16.5%; top: 37%; width:82%; height:63%;">      
          <div class="card">
            <div class="card-header  text-white" style="background-color: #4402ae90;"> 
              Lista de Produções
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead >
                    <tr>
                      <th scope="col">Produção</th>
                      <th scope="col">Total</th>
                      <th scope="col">Inicio</th>
                      <th scope="col">Fim</th>
                      <th style="text-align: center;" scope="col">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for producao in valores %}
                      <tr>
                        <td>{{ producao["id_prod"] }}</td> 
                        <td>{{ producao["total"] }}</td>
                        <td>{{ producao["inicio"] }}</td>
                        <td>{{ producao["fim"] }}</td>
                        <td>
                          <div class="d-flex justify-content-center">
                            <button class="btn btn-danger me-2" type="button" onclick="modal_delete_block(this.id)" id="{{ producao['id_prod'] }}">Deletar</button>
                            <form method="get" action="relatorio/detalhar">
                              <input type="text" name="prod_id" hidden value="{{ producao['id_prod'] }}">
                              <button class="btn btn-primary" type="submit">Detalhar Produção</button>
                            </form>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table> 
              </div>
            </div>
          </div>
       
      
    
  </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_delete">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Deletar Produção</h3>
          </div>

          <div class="modal-body">
            <h5>Deseja realmente deletar a produção:<p id="modal_id" style="align-items:center;"></p><h5>
            <form method="post" action="delete_producao"id="form_delete">
              <input type="text" hidden  name='id' id="id_del"> 
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="modal_delete_none()">Fechar</button>
            <button type="button" class="btn btn-danger" onclick="modal_delete_ok()">Confirmar</button>
          </div>
        </div>
      </div>
    </div>





  
    <script> 
    window.onload = function(){
      trocaClasse('relatorios','active'); 
      User_dados_ler()
    }
    checkTheme();
    </script>

  
  {% endblock %}
